{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>News</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>News</h1>
    <div class="all-objects">
        <ul>
          {% for item in news %}
          <div class="todos">
            <li>
              <strong>{{ item.title }}</strong>
            </li>
            <li>
              <p>{{ item.content }}</p>
            </li>
            <li>
              {% for category in item.categories.all %}
              <span>{{ category.name }}</span>
              {% endfor %}
              | {{ item.publication_date }}
            </li>
          </div>
          {% endfor %}
        </ul>

    </div>
</body>
</html>